jupyterlab
notebook>=4.0.0
scipy
numpy
sklearn
pandas>=1.0.3
pandas-datareader>=0.8.1
qgrid>=1.3.1
matplotlib>=3.2.1
ipywidgets>=7.0.0
folium
geopandas
geopy
unidecode
simplekml
pyroutelib3
tsp_solver2

